<div class="container">
  <div class="title">
    <h1>NutriLoop</h1>
    <p>Application that helps you be the healthiest version of you! <br>
    We calculate your basal metabolic rate based on your age, gender, weight, height and physical activity. 
    </p>
  </div>
</div>
